.container {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding-top: 8%;
    padding-bottom: 8%;
    border: solid #668cff 5px;
}

body {
    background-color: white;
    color: #668cff;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

form {
    margin: 0 auto;  
}

button {
    margin: 4% 26%;
    background-color: #668cff;
    color:white;
}
